.loca, .speack{
    margin-left: 2vh;
    margin-right: 2vh;
    margin-top: 2vh;
    text-align: center;
}
.speack{
    margin-top: 5%;
}
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-3px); }
    100% { transform: translateX(3px); }
}
@keyframes backgrount{
    0% { background-color: rgb(18, 222, 41);color: white; }
    25% { background-color: rgb(255, 38, 0);color: white; }
    50% { background-color: rgb(109, 87, 174);color: white; }
    75% { background-color: rgb(77, 77, 4); color: white; }
    100% { background-color: rgb(212, 0, 255); color: white; }
}
.button {
    border-radius: 5px;
    width: 100px;
    color: white;
    background-color: rgb(34, 0, 255);
    border: none;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
}
@keyframes butooncolor{
    0% { color: rgb(124, 108, 108); }
    25% { color: white; }
    50% {  color: rgb(255, 0, 0); }
    75% {  color: white; }
    100% { color: rgb(173, 168, 197); }
}
.button:hover{
    background-color: transparent;
    color: black;
    animation: backgrount 2.5s ease-in-out;
    cursor:pointer;
}
.button:active{
    background-color: red;
}
textarea{
    border-radius: 10px;
    border: 3px double red;
    height: 35vh;
    width: 80%;
    padding: 5px;
}
textarea:active{
    border: none;
}
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px);}
    50% { transform: translateX(5px); }
    75% { transform: translateX(-3px); }
    100% { transform: translateX(3px); }
}
.message {
    display: none;
    color: red;
}
.speaking {
    color: green;
    animation: shake 0.5s ease-in-out 1s forwards;
    display: none; /* In
    itially hide the message */
}

.both{
    display: flex;
    gap: 80%;
}
.history{
    margin-left: 5%;
    margin-top: 9%
}
.history ul{
    margin-left: 2%;
    margin-bottom: 15px;
    list-style: none;
}
#clearHistoryBtn{
    border-radius: 5px;
    width: 150px;
    color: white;
    background-color: rgb(255, 51, 0);
    border: none;
    margin-top: -10px;
    font-size: 19px;
    margin-right: 2%;
}
#clearHistoryBtn, .his button:hover{
    background-color: rgb(219, 76, 40);
    cursor: pointer;
}
#clearHistoryBtn:active{
    background-color: green;
}
.log{
    display: flex;
}
#textcopy, #textco{
    border-radius: 5px;
    width: 150px;
    color: white;
    background-color: rgb(255, 0, 183);
    border: none;
    padding: 10px;
    font-size: 19px;
}
#textcopy, #textco:hover{
    background-color: green;
    cursor: copy;
}
#start-btn{
    border-radius: 5px;
    width: 100px;
    color: white;
    background-color: rgb(17, 255, 0);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 19px;
}
#stop-btn{
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    color: white;
    margin-left: 5%;
    background-color: rgb(255, 0, 0);
    border: none;
    padding: 10px;
    font-size: 19px;
}
.his{
    display: flex;
    gap: 40%;
}
.his button{
    border-radius: 5px;
    width: 120px;
    color: white;
    background-color: rgb(255, 51, 0);
    border: none;
    padding: 1px;
    font-size: 18px;
}
#clear-btn{
    border-radius: 5px;
    width: 150px;
    color: white;
    background-color: rgb(255, 51, 0);
    border: none;
    padding: 10px;
    font-size: 18px;
    
}
#typing{
    color: green;
}
#status{
    color: green;
    padding-bottom: 10px;
}
#statu{
    color: red;
    padding-bottom: 10px;
}
#bottomtotpo{
    position: fixed;
    height: 50px;
    right: 20px;
    bottom: 20px;
    border: none;
    border-radius: 5px;
    width: 100px;
    color: white;
    background-color: rgb(34, 0, 255);
    border: none;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    opacity: 0;
    font-size: 16px;
}
