
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-3px); }
    100% { transform: translateX(3px); }
}
@keyframes backgrount{
    0% { background-color: rgb(18, 222, 41);color: white; }
    25% { background-color: rgb(255, 38, 0);color: white; }
    50% { background-color: rgb(109, 87, 174);color: white; }
    75% { background-color: rgb(77, 77, 4); color: white; }
    100% { background-color: rgb(212, 0, 255); color: white; }
}
button {
    height: 25px;
    border-radius: 5px;
    width:auto;
    color: white;
    background-color: rgb(34, 0, 255);
    border: none;
    margin-left: 7%;
    margin-top: 2vh;
}
button:hover{
    background-color: transparent;
    color: black;
    animation: backgrount 2.5s ease-in-out;
    cursor:pointer;
}
button:active{
    background-color: red;
}
textarea{
    border-radius: 10px;
    border: 3px double red;
    height: 25vh;
    width: 25vh;
    padding: 5px;
    margin-left: 1vh;
}
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px);}
    50% { transform: translateX(5px); }
    75% { transform: translateX(-3px); }
    100% { transform: translateX(3px); }
}

.message {
    animation: shake 0.5s ease-in-out infinite; /* Apply the animation */
    display: none; /* Initially hide the message */
    color: red;
}

.speaking {
    color: green;
    animation: shake 0.5s ease-in-out 1s forwards; /* Apply the animation with a delay */
    display: none; /* Initially hide the message */
}
